<div class="wrap">
  <%= link_to("https://www.ctti-clinicaltrials.org/") do %>
    <%= image_tag("https://www.ctsi.duke.edu/sites/www.ctsi.duke.edu/files/images/_misc/CTTI_LOGO_v2_horz_logo.JPG", class:"logo") %>
  <% end %>

  <div class="navContainer">
    <nav>
        <a href="/" class="navItem">
          <%= fa_icon("home") %>
          Home
        </a>

        <a href="/connect" class="navItem">
          <%= fa_icon("plug") %>
          Connect
        </a>

        <a href="/download" class="navItem">
          <%= fa_icon("download") %>
          Download
        </a>

        <a href="/learn_more" class="navItem">
          <%= fa_icon("university") %>
          Learn
        </a>

          <a href="/users" class="navItem">
            <%= fa_icon("address-book") %>
            Users
          </a>

    </nav>
  </div>
</div>

