javascript_include_tag "sortable"

<div class="wrap">

  <p>
  Download:
  <%= link_to "CSV", projects_path(format: "csv") %> |
  <%= link_to "Excel", projects_path(format: "xls") %>
</p>
  <div class="projects">
    <h4> <%=number_with_delimiter(@project_count, :delimiter => ',') %> AACT-related Projects:</h4>

    <table data-toggle='table' class="table sortable table-striped table-responsive table-hover" data-sort-order="desc">

        <tr>
          <th data-field='name'          data-sortable="true">name</th>
          <th data-field='investigators' data-sortable="true">investigators</th>
          <th data-field='year'          class="sorttable">year</th>
          <th >description</th>
          <th ></th>
        </tr>

        <tbody class='projects'>
          <% @projects.each do |proj| %>
            <tr>
              <td><%= proj.name %></td>
              <td><%= proj.investigators %></td>
              <td><%= proj.year %></td>
              <td><%= proj.description %></td>
              <td><%= link_to 'Detail', project_path(:id => proj.id) %></td>
            </tr>
          <% end %>
       </tbody>

    </table>

  </div>

</div>
