<!DOCTYPE html>
<html>
  <head>
    <title>AactProj</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>AACT Database Projects  | Clinical Trials Transformation Initiative</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic' rel='stylesheet' type='text/css'>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/black-tie/jquery-ui.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid-theme.min.css" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'includes/main_header' %>
    </header>
    <div class='standardLayout'>
      <%= yield %>
    </div>
    <footer>
      <%= render 'includes/main_footer' %>
    </footer>
  </body>
</html>
